<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.katurov.onairservice</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/katurov/.local/bin/uv</string>
        <string>run</string>
        <string>/Users/katurov/Utils/OnAirService/OnAirService.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/katurov/Utils/OnAirService</string>
    <key>StandardOutPath</key>
    <string>/Users/katurov/Library/Logs/OnAirService.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/katurov/Library/Logs/OnAirService.stderr.log</string>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
